body {
    font-family: sans-serif;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
    background: #f0f0f0;
}
  
td {
   padding:5px;
   border: 4px solid #c4d9dc;
}
  
th {
    border: 4px solid #c4d9dc;
}
  
.coluna {
    width: 18%;
}
  
.horário {
    width: 150;
    background: #f77292;
}
  
.cabeçalho{
    background: #394f75;
    color: #F9F9F9; 
    height: 50px;
}
  
.rodapé {
    background: #7457ad;
    color: #F9F9F9;
    height: 50px;
}
  
.intervalo {
    background: #DDDDDD;
    height: 30px;
  }
  
.estilo {
    font-family: sans-serif;
}