body {
    font-family: sans-serif;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
    max-width: 80%;
    margin: auto;

}

table {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border-spacing: 0;
    background-color: antiquewhite;
    border-collapse: separate;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td{
    padding: 12px 15px;
    border: none;
}

th {
    background-color: #c4d9dc;
    color: #394f75;
    border: solid;
    border-color: #394f75;
    font-weight: bold;
}

td{
    border: solid #ffa0b6;
}

.cabecalho{
    background-color: #c4d9dc;
    font-weight: bold;
}


.coluna{ 
    width: 18%;
}

.horario {
    background-color: #f5f5f5;
    width: 150;
}

.intervalo {
    background-color: #d9c6ff;
}

button{
    text-decoration: none;
    border: 2px solid #394f75;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s;
    display: flex;
    background-color: #c4d9dc;
    margin: auto;
}


button:hover {
    background-color: #ffa9bd;
    color: #ffffff;
}

button a:hover{
    color: #ffffff;
}

button a {
    text-decoration: none;
    color: #394f75;
}